* {
    box-sizing: border-box;
}

:root {
    --grey: #e5e6e9;
    --black: black;
    --fontcolor: #0a0a0a;
}

html {
    font-family: Nunito,sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color .3s ease-in-out;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    display: grid;
    
}


.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    
    
}

.nav-main {
    display: flex;
    background: var(--black);
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 3px;
    
}

.nav-main a {
    color: white;
    
}

.logo img {
    height: 2rem;
}

.magnifying-glass {
    font-size: 1.5em;
    display: inline-block;
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid white;
    position: relative;
    border-radius: 0.35em;
  }
.magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: white;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
  }

.nav-main-items {
    position: relative;  
}

    .dropdown {
        display: none;
        pointer-events: none;
        position: absolute;
        opacity: 0;
            background: var(--black);
            transition: opacity ease 0.2s;
        padding: 1rem 0 1rem 0;
        width: 18rem;  
        
       
    }
        .dropdown li {
            padding: 1rem;
            
        }

        .dropdown a {
            display: block;
            font-size: 13px;
            text-transform: none;
        }

        .dropdown a:hover {
            color: grey;
        }

            .dropdown-products:hover > ul {
                opacity: 1;
                display: block;
                pointer-events: all;
            }

        .dropdown-two {
            pointer-events: none;
            position: absolute;
            opacity: 0;
            background: var(--black);
            transition: opacity ease 0.2s;
            left: 18rem;
            bottom: 4.2rem;
            background: black;
            width: 16rem;
        }

            .dropdown-two a {
                /* display: block; */
                
            }

            .dropdown-two a:hover {
                color: grey;
                opacity: 1;
                pointer-events: all;
            }

            .listadd-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

           .plus {
               color: red;
               font-size: 18px;
           }

/* MOBILE MENU DROPDOWN START */
.hamburger {
    display: none;
    }
        
        .mobile-menu {
            display: none;
            pointer-events: none;
            width: 100%;
            height: 20rem;
            opacity: 0;
            background: var(--black);
            transition: opacity ease 0.3s;
        }
        
        input[type=checkbox] {
            position: absolute;
            top: -9999px;
            left: -9999px;
         }
         
         /* Toggled State */
         input[type=checkbox]:checked ~ .mobile-menu {
            opacity: 1;
            display: block;
            pointer-events: all;
         } 
        
         .mobile-menu-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: 3px;
            height: 100%;
            
        }
        
        .mobile-menu-list a {
            color: white;
            
        }
        
        .mobile-menu-list a:hover {
            color: grey;
            cursor: pointer;
            
        }
/* MOBILE MENU DROPDOWN END */

main {
    width: 100%;
    overflow: hidden;
}


.hero{
    width: 100%;
    margin-top: 68px;
    
  }
  
.block {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.featured-products {
    grid-column: 2;
}

.featured-videos {
    grid-column: 2;
}


.product-img {
 
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
   
}

.product-img img {
    grid-row: 1;
    grid-column: 1;
}

.video-btn {
    grid-row: 1;
    grid-column: 1;
    color: white;
    z-index: 2;
    /* position: absolute; */

    height: 100%;
    width: 100%;

    /* top: 50%;
    left: 50%;
    margin-left: -3.5rem;
    margin-top: -2rem; */
    

    font-size: 2em;
  
    height: 1.4em;
    width: 3em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #fff;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 0.3em;
    transition: all 0.4s;
    
    
}

.video-btn:focus {
    outline:none;
}

.products-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-size: 2.5rem;
    font-weight: 600;
}

.product-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 4rem;
}

.product-caption {
    line-height: 1.6;
}
  
.footer {
    text-align: center;
    background: var(--grey);
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.footer-title {
    font-size: 25px;
    font-weight: 100;   
}

.socialmedia-nav {
    display: flex;
    justify-content: center;
}

.socialmedia-nav li {
    margin: 1rem;
}

.socialmedia-nav .twitter {
    background: url(https://www.pathe.nl/assets/img/icons/social/twitter@2x.png);
    background-size: cover;
    display: block;
    height: 30px;
    width: 30px;
}

.socialmedia-nav .fb {
    background: url(https://www.pathe.nl/assets/img/icons/social/facebook@2x.png);
    background-size: cover;
    display: block;
    height: 30px;
    width: 30px;
}

.socialmedia-nav .insta {
    background: url(https://www.pathe.nl/assets/img/icons/social/instagram@2x.png);
    background-size: cover;
    display: block;
    height: 30px;
    width: 30px;
}

.copyright {
    font-size: 10px;
    margin-bottom: 1rem;
}

.footer-links {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
   
}

.footer-links li {
    margin: 0 .2rem 0 .2rem;
}

.footer a {
    color: var(--black);
}

.footer a:hover {
    cursor: pointer;
    color: #1779ba;
}

.extra-link {
    font-size: 10px;
   
}

@media screen and (max-width: 1000px) {

   .nav-main li:nth-child(n+3) { 
       display: none;
    }

    .nav-main {
        position: relative;
    }

    .hamburger {
        display: block;
        width: 2rem;
        margin-left: 1rem;
        position: absolute;
        left: 0;
        
    }

    .hamburger-link {
        cursor: pointer;
    }



}

@media screen and (min-width: 1000px) {
    .mobile-menu-list {
        display: none;
    }

    input[type=checkbox]:checked ~ .mobile-menu {
        display: none;
        
        width: 100%;
        height: 20rem;
     } 
}


